[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.14.0"
six = "*"
zhusuan = {editable = true, path = "."}

[dev-packages]

[requires]
python_version = "3.6"
